.font-icon {
  margin-right: 5px;
  margin-top: 3px;
  align-items: center;
}
.font-icon:hover {
  transform: translateX(-5px);
}
.signin-forcre:hover {
  margin-left: 5px;
  margin-right: 5px;
}
.forgot-pass__link {
  align-items: center;
  color: #6b6c6d;
  display: flex;
  font-family: var(--sans-serif);
  font-size: 14px;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}
.main-cont {
  font-size: 14px;
  max-width: 400px;
}
